<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

</head>
<body>
	<div class="card container mt-5" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title" th:text="${userData.userName}"></h5>
			<p class="card-text" th:text="${userData.email}"></p>
		</div>
	</div>
</body>
</html>